@font-face {
  font-family: 'VT323';
  src: url('path/to/my/custom/font.woff2') format('woff2'),
    url('path/to/my/custom/font.woff') format('woff');
}


body {
  /* hex color */
  /* background-color: "#736E5D"; */
  background-color: #F2E8C4;
  font-family: "VT323", "Helvetica Neue", Helvetica, Arial, sans-serif;
  /* font-weight: 500; */
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  height: 100vh;
}

.title {
  color: mintcream;
  text-transform: uppercase;
  margin-top: 3em;
  margin-bottom: 3em;
  /* font-size: 1em; */
  /* letter-spacing: 0.3em; */
}

#scoreboard_containter {
  /* border: 1px solid black; */
  position: absolute;
  left: 0;
  top: 0;
  font-size: 1.8em;
}

#target_text_container {
  justify-content: center;
  align-items: center;
  border: black solid 0.1em;
  background-color: #736E5D;
  position: absolute;
  top: 0;
}

#target_text_display {
  /* margin-bottom: 1em; */
  /* font-size: 4em; */
  font-size: large;
  position: relative;
  color: rgb(246, 240, 215);
}
#player_entry_text_container {
  color: black;
  display: flex;
  justify-content: center;
  align-items: center;
  text-align: center;
  font-size: 3.5em;
  /* margin-top: 3em; */
  /* border: .02em solid mintcream; */
  width: 28em;
  max-width: 600px;
  height: 35em;
  max-height: 300px;
  min-height: fit-content;
  /* font-size: 1.5em; */
}

#player_entry_text_display {
  /* margin-bottom: 1em; */
  /* font-size: 4em; */
  position: relative;
  text-align: center;
  overflow: auto;
  white-space: pre-wrap;
  left: 0;
  right: 0;
  /* overflow-y: scroll; */
  /* add a scrollbar if the text overflows vertically */
  /* wrap the text within the textbox */
  /* border: .02em solid mintcream; */
}

/* #player_entry_text_display::after {
  content: "";
  height: 1em;
  background-color: black;
  animation: blink 1s infinite;
} */


#start_button_container {
  /* border: 1px solid black; */
  background-color: #736E5D;
  /* border: 2px solid blue; */
  position: absolute; /* Add this line */
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
}

.start-button {
  width: 100%;
  height: 100%;
  font-size: 1.8em;
  background-color: #736E5D;
  color: white;
  display: flex;
  justify-content: center;
  align-items: center;
  cursor: pointer;
  user-select: none;
}

#keyboard_container {
  position: relative;
}

.keyboard {
  /* display: none; */
  flex-direction: column;
  background-color: #BFB79B;
  /* border: #bcb083 solid .25em; */
  /* border: green solid .25em; */
}

.row {
  list-style: none;
  display: flex;
}

li {
  height: 2em;
  width: 2em;
  color: rgba(0, 0, 0, 0.7);
  border-radius: 0.4em;
  /* line-height: 3em; */
  margin: 0.25em;
  transition: 0.3s;
  text-align: center;
}

#letter_count {
  color: black;
}

#keyboard_letter {
  color: black;
}

/* .enabled {
  background-color: mintcream;
  color: black;
} */





#tab {
  width: 5em;
}

#caps {
  width: 1.8em;
}

#Submit {
  width: 3.5em;
}

#Space {
  width: 26.5em;
}

#Delete {
  width: 3.3em;
}


/* Key colors */
#Delete,
#Submit,
#Space {
  background-color: #F4D873;
}

.space,
.middle,
.ring,
.pinky,
.pointer1st,
.pointer2nd {
  background-color: #736E5D;
  border: 2px solid #968F74;
}

.enabled {
  background-color: rgb(97, 135, 97);
  border: 2px solid "#2C7EDB";
}

.prevent-select {
  -webkit-user-select: none;
  /* Safari */
  -ms-user-select: none;
  /* IE 10 and IE 11 */
  user-select: none;
  /* Standard syntax */
}


/* ----------------------------------------------
 * Generated by Animista
 * Licensed under FreeBSD License.
 * See http://animista.net/license for more info. 
 * w: http://animista.net, t: @cssanimista
 * ---------------------------------------------- */

.hit {
  -webkit-animation: hit 0.3s cubic-bezier(0.390, 0.575, 0.565, 1.000) both;
  animation: hit 0.3s cubic-bezier(0.390, 0.575, 0.565, 1.000) both;
}

/* 
.hit_space {
  -webkit-animation: hit_space 0.3s cubic-bezier(0.1, 0.1, 0.1, 1.000) both;
  animation: hit_space 0.3s cubic-bezier(0.1, 0.1, 0.1, 1.000) both;
} */

@keyframes blink {
  50% {
    opacity: 0;
  }
}

@-webkit-keyframes hit {
  0% {
    -webkit-transform: scale(1.2);
    transform: scale(1.2);
  }

  100% {
    -webkit-transform: scale(1);
    transform: scale(1);
  }
}

@keyframes hit {
  0% {
    -webkit-transform: scale(1.2);
    transform: scale(1.2);
  }

  100% {
    -webkit-transform: scale(1);
    transform: scale(1);
  }
}

/* @-webkit-keyframes hit_space {
  0% {
    -webkit-transform: scale(1);
    transform: scale(1);
  }

  100% {
    -webkit-transform: scale(1);
    transform: scale(1);
  }
}

@keyframes hit_space {
  0% {
    -webkit-transform: scale(1);
    transform: scale(1);
  }

  100% {
    -webkit-transform: scale(1);
    transform: scale(1);
  }
} */

/* @-webkit-keyframes vibrate-1 {
  0% {
    -webkit-transform: translate(0);
    transform: translate(0);
  }

  20% {
    -webkit-transform: translate(-2px, 2px);
    transform: translate(-2px, 2px);
  }

  40% {
    -webkit-transform: translate(-2px, -2px);
    transform: translate(-2px, -2px);
  }

  60% {
    -webkit-transform: translate(2px, 2px);
    transform: translate(2px, 2px);
  }

  80% {
    -webkit-transform: translate(2px, -2px);
    transform: translate(2px, -2px);
  }

  100% {
    -webkit-transform: translate(0);
    transform: translate(0);
  }
}

@keyframes vibrate-1 {
  0% {
    -webkit-transform: translate(0);
    transform: translate(0);
  }

  20% {
    -webkit-transform: translate(-2px, 2px);
    transform: translate(-2px, 2px);
  }

  40% {
    -webkit-transform: translate(-2px, -2px);
    transform: translate(-2px, -2px);
  }

  60% {
    -webkit-transform: translate(2px, 2px);
    transform: translate(2px, 2px);
  }

  80% {
    -webkit-transform: translate(2px, -2px);
    transform: translate(2px, -2px);
  }

  100% {
    -webkit-transform: translate(0);
    transform: translate(0);
  }
} */



/* { 
  background-color: gold;
  border: 2px solid gold;
} */

/*  { 
  background-color: crimson;
  border: 2px solid crimson;
} */


/* { 
  background-color: coral;
  border: 2px solid coral;
} */

/*  { 
  background-color: khaki;
  border: 2px solid khaki;
} */


/* #tab, #caps, #left-shift, #right-shift, #semicolon, #quote, #colon, #open_bracket, #close_bracket, #back_slash{
   background-color: black;
   border: None;
} */
/* .fill-out-key {
  background-color: slategrey;
  border: 2px solid slategrey;
}

.selected {
  background-color: transparent;
  -webkit-animation: vibrate-1 0.3s linear infinite both;
  animation: vibrate-1 0.3s linear infinite both;
} */